.header {
  display: flex;
  height: 40px;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 28px;
  justify-content: space-between;
}

.header__side {
  display: flex;
  align-items: center;
}

.header__logo,
.header__username {
  margin: 0 24px 0 0;
}

.header__place {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 50%;
}
