.card {
  width: 323px;
  height: 326px;
  border-radius: 19px;
  border: 1px solid #0000004d;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  color: #00000099;
}

.card__image {
  width: 100%;
  object-fit: cover;
}
