.card {
  width: 323px;
  height: 326px;
  border-radius: 19px;
  border: 1px solid #0000004d;
  overflow: hidden;
  position: relative;
  display: flex;
  transition: opacity 0.5s;
  justify-content: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card__title-wrapper {
  position: absolute;
  gap: 10px;
  top: 15px;
  display: flex;
  align-items: center;
}

.card__title {
  margin: 0;
  font-size: 16px;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  color: #00000099;
}

.card__image {
  width: 100%;
  object-fit: cover;
}

.card:hover {
  cursor: pointer;
  opacity: 70%;
}

.card__like-btn {
  width: 20px;
  height: 20px;
  background: url("../images/like_default.png") no-repeat center;
  border: none;
  cursor: pointer;
}
.card__like-btn_liked {
  background: url("../images/like_filled.png");
}
.card__like-btn_hidden {
  display: none;
}

@media screen and (max-width: 630px) {
  .card {
    width: 164px;
    height: 164px;
  }

  .card__title {
    top: 7px;
  }

  .card-list {
    gap: 15px;
  }
}
