.main__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .main__card-list {
    gap: 15px;
  }
}
