.modal {
  background-color: #00000080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: transparent;
  transition: opacity 0.5s;
  padding: 8px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 50%;
}

/* Item modal */

.modal__container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.modal__image {
  display: block;
}

.modal__footer {
  background: #ffffff;
  padding: 20px 0 20px 32px;
}

.modal__text {
  font-size: 20px;
  color: #000000;
  margin: 0;
  padding-bottom: 12px;
}

/* Form Modal */

.modal__container_type_form {
  background: #ffffff;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  font-size: 16px;
}

.modal__title {
  margin: 0 0 16px 0;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin-bottom: 24px;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid;
  /* padding-top: 4px; */
  width: 100%;
}

.modal__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal__form-legend {
  margin: 24px 0 12px;
}

.modal__radio-btn {
  margin-right: 11px;
  margin-bottom: 8px;
}

.modal__submit-btn {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  background: #000000;
  color: #ffffff;
  margin-top: 24px;
}
