.modal {
  background-color: #00000080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  z-index: 3;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: transparent;
  transition: opacity 0.5s;
  padding: 8px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 50%;
}

/* Item modal */

.modal__container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.modal__image {
  display: block;
}

.modal__footer {
  background: #ffffff;
  padding: 20px 0 20px 32px;
}

.modal__text {
  font-size: 20px;
  color: #000000;
  margin: 0;
  padding-bottom: 12px;
}

.modal__close-btn_dark {
  display: none;
}

@media screen and (max-width: 630px) {
  .modal__image {
    height: 343px;
  }

  .modal__close-btn {
    display: none;
  }

  .modal__close-btn_dark {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: transparent;
    transition: opacity 0.5s;
    padding: 8px;
    display: block;
  }

  .modal__close-btn_dark:hover {
    cursor: pointer;
    opacity: 50%;
  }
}

/* Form Modal */

.modal__container_type_form {
  background: #ffffff;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  font-size: 16px;
}

.modal__title {
  margin: 0 0 16px 0;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin-bottom: 24px;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
}

.modal__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal__form-legend {
  margin: 24px 0 12px;
}

.modal__radio-btn {
  margin-right: 11px;
  margin-bottom: 8px;
}

.modal__label_type_radio {
  color: #00000080;
  transition: 0.3s;
}

.modal__radio-btn:checked + .modal__label_type_radio {
  color: #000000;
}

.modal__submit-btn {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  background: #000000;
  color: #ffffff;
  transition: 0.5s;
  margin-top: 24px;
}

.modal__submit-btn:hover,
.modal__radio-btn:hover,
.modal__label:hover {
  cursor: pointer;
}

.modal__submit-btn:hover {
  background: #00000099;
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 0;
  }

  .modal__container_type_form {
    top: 25%;
    height: 455px;
    padding: 32px 16px;
    position: relative;
  }

  .modal__title {
    font-size: 20px;
  }
  .modal__submit-btn {
    margin-top: 30px;
    width: 100%;
  }

  .modal__close-btn_type_form {
    display: block;
  }
}
