.sidebar {
  min-width: 229px;
}

.sidebar__user-info {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.sidebar__username {
  font-size: 20px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border: #00000080 1px solid;
  border-radius: 50%;
}

.sidebar__avatar_initial {
  background: #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
