.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #00000080;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.5s;
}

.toggle-switch:hover {
  cursor: pointer;
  border: 2px solid #000000;
}

.toggle-switch__checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle-switch__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
  top: -2px;
  left: -2px;
  transition: all 0.3s ease;
}

.toggle-switch__value {
  color: #00000080;
  font-size: 14px;
  line-height: 1;
  z-index: 0;
  transition: color 0.3s ease;
}

.toggle-switch__value_left {
  transition: 0.5s;
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  transform: translateX(28px);
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__value_left {
  color: white;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__value_right {
  color: white;
}

.toggle-switch:hover .toggle-switch__value_left {
  transform: translateX(2px);
}

@media screen and (max-width: 960px) {
  .toggle-switch {
    visibility: hidden;
  }
}
